.DS_Store
node_modules
build
lib
*.log
.idea
.metadata
*.iml
jdt.ls-java-project
lerna-debug.log
.nyc_output
coverage
errorShots
src-gen
gen-webpack.config.js
.theia
.vscode
.test
.browser_modules
package-backup.json
.history
.Trash-*
plugins
gh-pages
.vscode/ipch
*.tsbuildinfo
.eslintcache
